@import '../../../../styles/colors';

:host {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

input {
  padding: 10px;
}

a {
  color: $primaryColor;
  font-size: 15px;
}

mat-error {
  font-size: 12px;
  color: red;
}

mat-form-field {
  padding-right: 5px;
}

mat-card {
  max-width: 600px;
  color: $primaryColor;

  &-title, &-content {
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding-bottom: 20px;

    form {
      .mat-form-field {
        width: 100%;
        min-width: 300px;
        padding-right: 10px;
      }

      .error {
        padding: 16px;
        width: 300px;
        color: red;
      }

      .button {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
